body {
	background-color: rgba(240, 240, 240, 1);
}
img {
	height: 100px;
	width: auto;
	border-radius: 50%;
}
.head {
	margin-top: 100px;
	margin-bottom: 50px;
}
.password {
	width: 100%;
	margin: 0 auto;
}
.account {
	width: 100%;
	margin: 0 auto;
	border-bottom: solid 1px rgba(200, 200, 200, 1);
}
input {
	width: 100%;
	padding: 5px 0 5px 5px;
}
.btn {
	display: table;
	margin: 30px auto 0 auto;
	width: 60%;
	background-color: rgba(255, 218, 68, 1);
	border-radius: 30px;
	padding: 0;
}
.btn button {
	background-color: rgba(255, 255, 255, 0);
}
i {
	margin-top: 8px;
}
.bottom {
	margin-top: 30px;
}
.bottom .forget {
	border-left: solid 1px rgba(200, 200, 200, 1);
}
.input {
	border: solid 1px rgba(200, 200, 200, 1);
	background-color: #FFF;
}