
			<div class="create-bg">
				<div class="mission-create panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">创建订单</div>
					<form method="post">
						<ul class="list-group">
							<li class="list-group-item"><i class="glyphicon glyphicon-hand-right"></i>任务起点<input type="text" name="start" placeholder="请输入任务起点" value="1" /></li>
							<li class="list-group-item"><i class="glyphicon glyphicon-flag"></i>任务终点<input type="text" placeholder="请输入任务终点" name="dest" value="1" /></li>
							<li class="list-group-item"><i class="glyphicon glyphicon-jpy"></i>报酬<input type="text" placeholder="请输入任务报酬" name="price" value="1" /></li>
							<li class="list-group-item"><i class="glyphicon glyphicon-time"></i>截止时间<input type="text" name="due" placeholder="请输入截止时间" /></li>
							<li class="list-group-item"><i class="glyphicon glyphicon-earphone"></i>联系方式<input type="text" name="phone" placeholder="请输入联系方式" value="1" /></li>
							<li class="list-group-item"><i class="glyphicon glyphicon-pencil"></i>内容</li>
							<li class="list-group-item"><textarea name="detail" cols="30" rows="5" placeholder="任务详情"  value="1"></textarea></li>
							<li class="list-group-item"><input type="text" name="description" /></li>
							<li class="list-group-item"><button class="button button-rounded button-highlight" >创建</button></li>
							<li class="list-group-item cancel"><button class="button button-rounded button-highlight">取消</button></li>
						</ul>
						<input type="submit" value="提交"/>
					</form>
				</div>
			</div>
			<script src="js/main.js"></script>