<!DOCTYPE html>
<html lang="zn-CN">
<head>
	<meta charset="UTF-8"/>
	<title>BangBang</title>
	<meta name ="viewport" content ="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/buttons.css"/>
	<link rel="stylesheet" href="css/log-in.css"/>
</head>
<body>
	<div class="container">
		<div class="row top-nav">
				<div class="col-xs-12 nav-item title">BangBang</div>
		</div>
		<div class="row head text-center">
			<img src="test.jpg" alt="head" />
		</div>
		<div class="row input">
		<div class="row account text-center">
			<div class="col-xs-2 text-right"><i class="glyphicon glyphicon-user"></i></div>
			<div class="col-xs-10"><input type="text" name="username" placeholder="账号/手机号"/></div>
		</div>
		<div class="row password text-center">
			<div class="col-xs-2 text-right"><i class="glyphicon glyphicon-lock"></i></div>
			<div class="col-xs-10"><input type="password" name="password" placeholder="密码"/></div>
		</div>
		</div>
		<div class="row btn text-center"><button class="button button-rounded button-highlight">登录</button></div>
		<div class="row bottom">
			<div class="col-xs-6 sign-up text-right"><a href="#">注册账号</a></div>
			<div class="col-xs-6 forget text-left"><a href="#">忘记密码</a></div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/main.js"></script>		
</body>
</html>